* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
   
}
body{
align-items: center;    
}
.vide {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    opacity: 90%;

}
.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(206, 210, 241);
    opacity: 0.5;
    z-index: -1;
}
.menu {
    float: right;
    list-style: none;
    margin-top: 30px;
    padding-right: 260px;
}



.menu li {
    display: inline-block;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 14px;
    border: 2px solid transparent;
}

.menu li a:hover {
    border-width: 10px;
    background: rgb(78, 77, 76);
    color: #65bff3;
}

.logo img {
    width: 100px;
    float: left;
    padding-left: 260px;
    height: auto;
}
.cover{
    margin-left: 450px;
    margin-bottom: 100px;
}
.box{
    width: 500px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
        transition: transform 0.5;
   
}
.box3{
margin-left: 260px;
}
.box1{
    background-image: url(../img/Food.png);
}
.box2{
    background-image: url(../img/hallat.png);
}
.box3{
    background-image: url(../img/old.png);
}

.box:hover{
    transform: translateY(-10px);
}
.icons {
    text-align: center;
    padding-bottom: 24px;
    padding-top: 10px;
    padding-right: 30px;


}

.icons a {
    font-size: 40px;
    color: inherit;
    opacity: 0.75;

}

.icons a:hover {
    opacity: 0.9;
}

.foter ul li a {
    color: inherit;
    text-decoration: none;
}

.foter ul li {
    display: inline-block;
    padding: 0 20px;

}

.foter ul {
    text-align: center;
    list-style: none;

}

.foter ul li a:hover {
    opacity: 1;
    border-width: 10px;
    color: #65bff3;
}

.copy {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
